<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymous Chat</title>
    <link rel="stylesheet" href="/chat/styles.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/profanity-cleaner@latest"></script>

    <script>
        // ejs
        const nickname = "<%= nickname %>";
    </script>

    <script src="/chat/index.js" defer></script>
</head>
<body>
    <h1>Anonymous Chat Room</h1>
</body>
</html>