<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymous Chat</title>
    <link rel="stylesheet" href="/chat/styles.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/profanity-cleaner@latest"></script>

    <script>
        // ejs
        const nickname = "<%= nickname %>";
        // if (!localStorage.getItem('privateKey')) {
        //     localStorage.setItem('privateKey', "<%= privateKey %>");
        // }
        // const privateKey = BigInt(localStorage.getItem('privateKey'));
        const privateKey = BigInt("<%= privateKey %>");
    </script>

    <script src="/chat/ECC.js"></script>
    <script src="/chat/index.js" defer></script>
</head>
<body>
    <header>
        <h1>Anonymous Chat</h1>
        <h1>Welcome, <a id="nickname" href="/" title="Click to change your nickname">{{ nickname }}</a></h1>
    </header>

    <main>
        <div id="user_list">
            <h3>Connected Users</h3>
            <ul>
                <li v-for="user in users" :key="user" @click="recipient = user">{{ user }}</li>
            </ul>
        </div>
        <div id="chat">
            <h1 id="recipient">{{ recipient || 'Select a user to chat with' }}</h1>
            <div id="messages">
                <div v-for="message in messages" :key="message.text">
                    <p :byMe="message.sender != recipient" v-if="message.from == recipient || message.to == nickname">{{ message.text }}</p>
                </div>
            </div>

            <div id="message_box">
                <input type="text" id="message_input" placeholder="Type your message here..." v-model="newMessage" @keyup.enter="sendMessage" :disabled="!recipient">
                <button id="send_button" @click="sendMessage" :disabled="!recipient || newMessage.trim() == ''">Send</button>
            </div>
        </div>
    </main>
</body>
</html>