body {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    background-color: #242424;
    color: #00da24;
}

main {
    display: flex;
    height: calc(100vh - 60px);
}

/*********** header ***********/

header {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    padding: 5px 20px;
    height: 48px;
    border-bottom: #00da24 2px solid;
}
header h1 {
    margin: 0;
    font-size: 1.5em;
}
header h1 #nickname {
    color: #00ad26;
}


/*********** users list ***********/

#user_list {
    flex-shrink: 0;
    width: 175px;
    border-right: #00da24 2px solid;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

#user_list h3 {
    margin-top: 0;
    font-size: 1.2em;
    border-bottom: #00da24 1px solid;
    padding-bottom: 5px;
    text-align: center;
}

#user_list ul {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

#user_list ul li {
    padding: 5px 0;
    text-align: center;
    background-color: #00da24;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 7px;
    cursor: pointer;
}

/*********** chat area ***********/

#chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#chat #recipient {
    text-align: center;
    border-bottom: #00da24 2px solid;
    padding: 10px;
    font-size: 1.5em;
    margin: 0;
    padding: 10px;
    flex-grow: 0;
}

#chat button#initHandshake {
    padding: 10px 20px;
    width: 100%;
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    background-color: #00da24;
    color: white;
    cursor: pointer;
}

#chat #messages {
    overflow-y: auto;
    padding: 20px;
    flex-grow: 1;
}

#chat #messages p {
    padding: 10px;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #2b2b2b;
    border-radius: 10px;
    word-wrap: normal;
    overflow-wrap: break-word;
}

#chat #messages p[byMe='true'] {
    margin-right: 100px;
    margin-left: 0px;
    border: #0024da 1px solid;
    text-align: left;
}

#chat #messages p[byMe='false'] {
    margin-right: 0px;
    margin-left: 100px;
    border: #00da24 1px solid;
    text-align: right;
}


#chat #message_box {
    display: flex;
    padding: 10px;
    border-top: #00da24 2px solid;
    flex-grow: 0;
}

#chat #message_box input {
    flex-grow: 1;
    padding: 10px;
    font-size: 1em;
    border: #00da24 2px solid;
    border-radius: 7px;
    outline: none;
    background-color: #2b2b2b;
    color: #00da24;
    margin-right: 10px;
}

#chat #message_box button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 7px;
    background-color: #00da24;
    color: white;
    cursor: pointer;
}



/*********** chat area scrollbar ***********/

#chat #messages::-webkit-scrollbar { width: 8px; }

#chat #messages::-webkit-scrollbar-track { background: #2e2e2e; }

#chat #messages::-webkit-scrollbar-thumb { background: #005323; border-radius: 10px; }

#chat #messages::-webkit-scrollbar-thumb:hover { background: #006329; }
